  <!-- TOP MENU -->
  <div class="row">
    <div class="col-auto router" [routerLink]="['/notification-add']">
      <p>สร้างแจ้งเตือน</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/notification-edit-list']">
      <p>แก้ไขแจ้งเตือน</p>
    </div>
    <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/notification-history-list']">
      <p>ประวัติแจ้งเตือน</p>
    </div>
  </div>
  <!-- END TOP MENU -->

<!-- CONTENT -->
<!-- <div class="container"> -->
  <div class="row">
    <!-- LIST 1 -->
    <div class="col-12 mt-3 router" [routerLink]="['/notification-history-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img class="rounded-circle" style="width: 70px; height: 70px;" src="./assets/img/_app.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">หัวข้อ Notification</p>
            <p class="mb-0 text-dark">รายละเอียด</p>
            <p class="mb-0 text-dark">กลุ่มเป้าหมาย : ชาย,หญิง, ช่วงอายุ, ความสนใจ</p>
            <p class="mb-0 text-dark">วันที่ : 17/04/2020 14:00</p>
          </div>
        </div>
      </div>
    </div>
    <!-- LIST 2 -->
    <div class="col-12 mt-3 router" [routerLink]="['/notification-history-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img class="rounded-circle" style="width: 70px; height: 70px;" src="./assets/img/_app.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">หัวข้อ Notification</p>
            <p class="mb-0 text-dark">รายละเอียด</p>
            <p class="mb-0 text-dark">กลุ่มเป้าหมาย : ชาย,หญิง, ช่วงอายุ, ความสนใจ</p>
            <p class="mb-0 text-dark">วันที่ : 17/04/2020 14:00</p>
          </div>
        </div>
      </div>
    </div>
    <!-- LIST 3 -->
    <div class="col-12 mt-3 router" [routerLink]="['/notification-history-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img class="rounded-circle" style="width: 70px; height: 70px;" src="./assets/img/_app.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">หัวข้อ Notification</p>
            <p class="mb-0 text-dark">รายละเอียด</p>
            <p class="mb-0 text-dark">กลุ่มเป้าหมาย : ชาย,หญิง, ช่วงอายุ, ความสนใจ</p>
            <p class="mb-0 text-dark">วันที่ : 17/04/2020 14:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
