<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" style="color: #FFA101;" [routerLink]="['/report-product-list']">
    <p>แจ้งรายงานสินค้า</p>
  </div>
  <div class="col-auto pl-1 router" [routerLink]="['/report-product-admin-list']">
    <p>ระงับสินค้า</p>
  </div>
  <div class="col-auto pl-1 router" [routerLink]="['/report-product-history-list']">
    <p>ประวัติสินค้า</p>
  </div>
</div>
<!-- END TOP MENU -->


<!-- CONTENT -->
<div *ngIf="showContent">
  <div *ngIf="showNoList" class="text-center" style="padding-top: 48px; padding-bottom: 48px;">
    <p style="font-size: .8rem; color: #F26E24;">ไม่มีสินค้าที่ถูกแจ้งรายงาน</p>
  </div>
  <div class="row">
    <!-- PRODUCT LIST -->
    <div class="col-12 mt-3" style="cursor: pointer;" *ngFor="let data of productList">
      <div class="card-border-3 bg-white" (click)="gotoProductDetail(data.key)">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img style="width: 70px; height: 70px; border-radius: 5px;" src="{{ data.value.imgProduct1.imgUrl }}">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">ชื่อร้านค้า : {{ data.value.shopName }}</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : {{ data.value.sellerUID }}</p>
            <p class="mb-0 text-dark">รหัสสินค้า : {{ data.value.productKey }}</p>
            <p class="mb-0 text-dark">วันที่ : {{ data.value.updateAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>