<!-- <div class="pl-2 pr-2"> -->
  <!-- TOP MENU -->
  <div class="row">
    <div class="col-auto router" style="color: #FFA101;" [routerLink]="['/percentage-shop']">
      <p>เปอร์เซ็นต์ร้าน</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/percentage-cancel-order']">
      <p>เปอร์เซ็นต์ยกเลิกสินค้า</p>
    </div>
    <div class="col-auto pl-1 router disabled" [routerLink]="['/percentage-deposit-seller-support-buy-product']">
      <p>เติมเงินซื้อการสนับสนุนสินค้า</p>
    </div>
  </div>
  <!-- END TOP MENU -->
  <!--  -->
  <div class="dropdown" style="cursor: pointer;">
    <div class="input-style mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <p class="mb-0 text-input">ประเภทการชำระเงิน</p>
      <p class="mt-2 mb-2 text-placeholder" style="color: #616a71;">{{ placeholderPaymentType }}</p>
    </div>
    <div class="dropdown-menu scrollable-menu w-100">
      <a (click)="selectPaymentType('Debit/Credit')" class="dropdown-item">Debit/Credit</a>
      <a (click)="selectPaymentType('Debit/Credit ต่างประเทศ')" class="dropdown-item">Debit/Credit International</a>
      <a (click)="selectPaymentType('e-Wallet')" class="dropdown-item">e-Wallet</a>
      <a (click)="selectPaymentType('QR Payment')" class="dropdown-item">QR Payment</a>
    </div>
  </div>
  <!--  -->
  <div class="input-style mt-2">
    <p class="mb-0 text-input">เปอร์เซ็นต์ร้านที่ต้องการเปลี่ยนแปลง</p>
    <input class="form-control border-0 pl-0 text-placeholder bg-input" maxlength="100" #perNumber_ [(ngModel)]="percenInput" placeholder="ตัวเลข (%)">
  </div>
  <!--  -->
  <div class="input-style mt-2">
    <p class="mb-0 text-input">รหัสร้านค้า (สูงสุด 200 ร้าน คั่นด้วยเครื่องหมาย "," โดยไม่เว้นวรรค)</p>
    <textarea class="form-control border-0 p-0 text-placeholder"
    style="box-shadow: none; background-color: #F2F6FA;" #shopUIDInput_ [(ngModel)]="uidInput"
    placeholder="S45g789p1R2PP,Qp48r55i7x99l,S45g789p1R2PP,Qp48r55i7x99l,S45g789p1R2PP"></textarea>
  </div>
  <!-- BUTTON -->
  <button type="button" class="btn mt-2 text-placeholder text-center btn-r-color" data-toggle="modal" data-target="#ModalPopupSave"
    data-backdrop="static" data-keyboard="false" (click)="checkUpdate(perNumber_.value, shopUIDInput_.value)">บันทึกการเปลี่ยนแปลง</button>
<!-- </div> -->


<!-- MODAL POPUP SAVE -->
<div class="modal fade" id="ModalPopupSave" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">{{ errorText }}</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal" (click)="updatePercen()">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP SAVE -->