<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" style="color: #FFA101;" [routerLink]="['/condition-buyyer-list']">
    <p>รายละเอียดเงื่อนไข</p>
  </div>
  <div class="col-auto pl-1 router" [routerLink]="['/condition-buyyer-add']">
    <p>เงื่อนไขใหม่</p>
  </div>
</div>
<!-- END TOP MENU -->

<!-- CONTENT -->
<!-- <div class="container"> -->
  <div class="row">
    <!-- LIST 1 -->
    <div class="col-12 mt-3 router" [routerLink]="['/condition-buyyer-detail']">
      <div class="card-border-3 bg-white">
        <p class="mb-0 text-dark">เงื่อนไขฉบับที่ 3</p>
        <!-- <p class="mb-0 text-dark" style="cursor: pointer;"><u>รายละเอียดเอกสาร</u></p> -->
        <p class="mb-0 text-dark">วันที่ : 20/05/20</p>
        <!-- <p class="mb-0 text-dark">หมายเหตุ : เพิ่มเติมข้อที่ 20.1.2</p> -->
      </div>
    </div>
    <!-- LIST 2 -->
    <div class="col-12 mt-3 router" [routerLink]="['/condition-buyyer-detail']">
      <div class="card-border-3 bg-white">
        <p class="mb-0 text-dark">เงื่อนไขฉบับที่ 2</p>
        <!-- <p class="mb-0 text-dark" style="cursor: pointer;"><u>รายละเอียดเอกสาร</u></p> -->
        <p class="mb-0 text-dark">วันที่ : 20/05/20</p>
        <!-- <p class="mb-0 text-dark">หมายเหตุ : เพิ่มเติมข้อที่ 20.1.2</p> -->
      </div>
    </div>
    <!-- LIST 3 -->
    <div class="col-12 mt-3 router" [routerLink]="['/condition-buyyer-detail']">
      <div class="card-border-3 bg-white">
        <p class="mb-0 text-dark">เงื่อนไขฉบับที่ 1</p>
        <!-- <p class="mb-0 text-dark" style="cursor: pointer;"><u>รายละเอียดเอกสาร</u></p> -->
        <p class="mb-0 text-dark">วันที่ : 20/05/20</p>
        <!-- <p class="mb-0 text-dark">หมายเหตุ : เพิ่มเติมข้อที่ 20.1.2</p> -->
      </div>
    </div>
  </div>
<!-- </div> -->
