<!-- <div class="pl-2 pr-2"> -->
  <!-- TOP MENU -->
  <div class="row">
    <div class="col-auto router" style="color: #FFA101;" [routerLink]="['/return-product-list']">
      <p>แจ้งคืนสินค้า</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/return-product-sendback-wrong-list']">
      <p>ร้านค้าแจ้งการส่งของกลับผิดพลาด</p>
    </div>
    <div class="col-auto pl-top-menu-sm router" [routerLink]="['/return-product-respond-more-seven-days-list']">
      <p>ร้านค้าไม่ตอบรับเกิน 7 วัน</p>
    </div>
  </div>
  <!-- END TOP MENU -->

  <!-- CONTENT -->
  <!-- CARD STATUS -->
  <div class="row row-m">
    <div class="col col-p">
      <div class="col-auction-date">
        <i class="fa fa-2x fa-flag"></i>
        <p class="mb-0">02/05/2020 12:00</p>
        <p class="mb-0 text-07">วันที่เริ่มประมูล</p>
      </div>
    </div>
    <div class="col col-p">
      <div class="col-order-date">
        <i class="fa fa-2x fa-shopping-cart"></i>
        <p class="mb-0">03/05/2020 15:33</p>
        <p class="mb-0 text-07">วันที่สั่งสินค้า</p>
      </div>
    </div>
    <div class="col col-p">
      <div class="col-send-date">
        <i class="fa fa-2x fa-archive"></i>
        <p class="mb-0">03/05/2020 15:33</p>
        <p class="mb-0 text-07">วันที่สั่งสินค้า</p>
      </div>
    </div>
    <div class="col col-p">
      <div class="col-pickup-date">
        <i class="fa fa-2x fa-archive"></i>
        <p class="mb-0">06/05/2020 14:44</p>
        <p class="mb-0 text-07">วันที่รับสินค้า</p>
      </div>
    </div>
  </div>
  <!-- END CARD STATUS -->

  <!-- PRODUCT DETAIL -->
  <div class="container-bg-color mt-2">
    <!-- PRODUCT CODE -->
    <p class="mb-0">รหัสสินค้า</p>
    <div class="row">
      <div class="col-auto pr-0">
        <p class="mb-0 productDataText">• F34G7gk5Hj2io8p9</p>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
          data-target="#ModalPopupCopy" (click)="copyProductKey()">คัดลอก</button>
      </div>
    </div>
    <!-- PRODUCT NAME -->
    <p class="mt-2 mb-0">ชื่อสินค้า</p>
    <p class="mb-0 productDataText">• PRODUCT NAME</p>
    <!-- PRICE AUCTION -->
    <p class="mt-2 mb-0">ราคาจบประมูลสินค้า</p>
    <p class="mb-0 productDataText">• ฿15,000</p>
    <!-- PRODUCT OPTION -->
    <p class="mt-2 mb-0">ตัวเลือกสินค้า</p>
    <p class="mb-0 productDataText">• ตัวเลือก 1 ดำ</p>
    <p class="mb-0 ml-2 productDataText">• 9 US จำนวน 1</p>
    <!-- PRODUCT IMG -->
    <p class="mt-2 mb-0">ภาพสินค้า</p>
    <div class="row row-img-m" style="margin-top: -8px;">
      <div class="col-6 col-md-6 col-lg-2 col-img-p mt-2">
        <img data-toggle="modal" data-target="#ModalPopupImg" src="./assets/img/bag.png"
          class="img-fluid border-radius-10" style="cursor: pointer;">
      </div>
    </div>
    <!-- DELIVERY DETAIL -->
    <a class="mt-2" style="text-decoration:none; color: #000;">รายละเอียดขนส่ง</a>
    <a class="mt-2 ml-2 productDataText" style="text-decoration:none;">ราคาที่ระบุ
      คือราคาที่ได้เพิ่มในขั้นตอนลงสินค้าซึ่งไม่ใช่ราคาจากผู้ให้บริการขนส่ง</a>

    <div class="row">
      <div class="col-auto">
        <p class="mb-0 productDataText">• Kerry Express (ด่วนพิเศษ)</p>
      </div>
      <div class="col">
        <p class="mb-0 productDataText">ราคาที่ระบุ ฿100</p>
      </div>
    </div>

    <div class="row">
      <div class="col-auto">
        <p class="mb-0 productDataText">• KERRY7fT954uh3SH</p>
      </div>
      <div class="col-auto pr-0">
        <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
          data-target="#ModalPopupCopyTrackNumber" (click)="copyTrackNumber()">คัดลอก</button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy">ติดตามสินค้าผ่านเว็บไซต์</button>
      </div>
    </div>

    <!-- BUYER -->
    <p class="mt-2 mb-0">ผู้สั่งซื้อ</p>
    <div class="row">
      <div class="col-auto pr-0">
        <p class="mb-0 productDataText">• รหัสผู้ใช้งาน : UID097834572</p>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy">ข้อความ</button>
      </div>
    </div>
    <!-- BUYER ADDRESS -->
    <p class="mt-2 mb-0">ชื่อสินค้า</p>
    <p class="mb-0 productDataText">• สุทัศน์ สุขจิต 167 ซอย25 กองรักษาการณ์ ถนนสุขุมวิท ตำบลปากน้ำ
      อำเภอเมืองสมุทรปราการ จังหวัดสุทรปราการ 10270
      064-555-6666</p>
    <!-- TRACKING -->
    <p class="mt-2 mb-0">สถานะขนส่ง</p>
    <p class="mb-0 productDataText">• เชียงใหม่ (10/05/2020 10:17)</p>
    <p class="mb-0 productDataText">• รถเข้ารับพัสดุ (10/05/2020 10:17)</p>
    <p class="mb-0 productDataText">• ศูนย์คัดจังหวัดสมุทรปราการ (10/05/2020 10:17)</p>
    <p class="mb-0 productDataText">• พัสดุรอนำจ่าย (10/05/2020 10:17)</p>
    <p class="mb-0 productDataText">• พัสดุนำจ่ายจำเร็จ (06/05/2020 10:17)</p>
  </div>
  <!-- END PRODUCT DETAIL -->

  <!-- PRODUCT REQUEST DETAIL -->
  <div class="container-bg-color-red mt-2">
    <!-- STATUS -->
    <p class="mb-0">สถานะ</p>
    <p class="mb-0 productDataText">• ผู้ซื้อแจ้งคืนสินค้า (10/05/2020 10:17)</p>
    <!-- REASON -->
    <p class="mt-2 mb-0">เหตุผลการคืนสินค้า</p>
    <p class="mb-0 productDataText">• สินค้าไม่ตรงตามรายละเอียด</p>
    <!-- PRODUCT IMG -->
    <p class="mt-2 mb-0">ภาพสินค้าเพิ่มเติม</p>
    <div class="row row-img-m" style="margin-top: -8px;">
      <div class="col-6 col-md-6 col-lg-2 col-img-p mt-2">
        <img data-toggle="modal" data-target="#ModalPopupImg" src="./assets/img/bag.png"
          class="img-fluid border-radius-10" style="cursor: pointer;">
      </div>
    </div>
    <!-- DESCRIPTION -->
    <p class="mt-2 mb-0">คำอธิบายเพิ่มเติม</p>
    <p class="mb-0 productDataText">•
      คำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติม
    </p>
  </div>

  <!-- SELLER ARGUE DETAIL -->
  <div class="container-bg-color-black mt-2">
    <!-- STATUS -->
    <p class="mb-0 text-white">สถานะ</p>
    <p class="mb-0 productDataTextWhite">• ผู้ขายโต้แย้ง (10/05/2020 10:17)</p>
    <!-- PRODUCT IMG -->
    <p class="mt-2 mb-0 text-white">ภาพสินค้าเพิ่มเติม</p>
    <div class="row row-img-m" style="margin-top: -8px;">
      <div class="col-6 col-md-6 col-lg-2 col-img-p mt-2">
        <img data-toggle="modal" data-target="#ModalPopupImg" src="./assets/img/img-argue.png"
          class="img-fluid border-radius-10" style="cursor: pointer;">
      </div>
    </div>
    <!-- DESCRIPTION -->
    <p class="mt-2 mb-0 text-white">คำอธิบายเพิ่มเติม</p>
    <p class="mb-0 productDataTextWhite">•
      คำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติมคำอธิบายเพิ่มเติม
    </p>
  </div>

  <!-- INPUT -->
  <div class="input-style mt-2">
    <p class="mb-0 text-input">คำอธิบายหรือเหตุผลเพิ่มเติม* (0/100)</p>
    <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
      style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_
      placeholder="กรุณาเพิ่มคำอธิบายหรือเหตุผล"></textarea>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-md-4 col-lg-4 mt-2">
      <button type="button" class="btn text-white w-100" style="border-radius: 1.5rem; background-color: #D65126;"
        data-toggle="modal" data-target="#ModalPopupOffer" data-backdrop="static" data-keyboard="false">ข้อเสนออื่น
        ๆ</button>
    </div>
    <div class="col-12 col-md-4 col-lg-4 mt-2">
      <button type="button" class="btn text-white w-100" style="border-radius: 1.5rem; background-color: #373E48;"
        data-toggle="modal" data-target="#ModalPopupNotApprove" data-backdrop="static"
        data-keyboard="false">ไม่อนุมัติการคืนสินค้า</button>
    </div>
    <div class="col-12 col-md-4 col-lg-4 mt-2">
      <button type="button" class="btn text-white btn-mt-pprove w-100"
        style="border-radius: 1.5rem; background-color: #5CB85C;" data-toggle="modal" data-target="#ModalPopupApprove"
        data-backdrop="static" data-keyboard="false">อนุมัติการคืนสินค้า</button>
    </div>
  </div>
<!-- </div> -->


<!-- MODAL POPUP OFFER -->
<div class="modal fade" id="ModalPopupOffer" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <div class="input-style">
        <p class="mb-0 text-input">โปรดเพิ่มข้อเสนออื่น ๆ</p>
        <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
          style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_ placeholder="ข้อเสนออื่น ๆ"></textarea>
      </div>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/return-product-list']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP OFFER -->

<!-- MODAL POPUP NOT APPROVE -->
<div class="modal fade" id="ModalPopupNotApprove" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <div class="input-style">
        <p class="mb-0 text-input">โปรดเพิ่มเหตุผลการไม่อนุมัติคืนสินค้า</p>
        <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
          style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_
          placeholder="เหตุผลการไม่อนุมัติคืนสินค้า"></textarea>
      </div>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/return-product-list']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP NOT APPROVE -->

<!-- MODAL POPUP APPROVE -->
<div class="modal fade" id="ModalPopupApprove" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <div class="input-style">
        <p class="mb-0 text-input">โปรดเพิ่มเหตุผลการอนุมัติคืนสินค้า</p>
        <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
          style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_
          placeholder="เหตุผลการอนุมัติคืนสินค้า"></textarea>
      </div>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/return-product-list']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP APPROVE -->

<!-- MODAL POPUP COPY -->
<div class="modal fade" id="ModalPopupCopy" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกรหัสสินค้าเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENG MODAL POPUP COPY -->

<!-- MODAL POPUP SHOW IMG -->
<div class="modal fade" id="ModalPopupImg" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img src="./assets/img/bag.png" class="img-fluid border-radius-10">
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENG MODAL POPUP SHOW IMG -->

<!-- MODAL POPUP TRACK NUMBER -->
<div class="modal fade" id="ModalPopupCopyTrackNumber" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกรหัสติดตามสินค้าเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENG MODAL POPUP TRACK NUMBER -->