<!-- <div class="pl-2 pr-2"> -->
<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" style="color: #FFA101;" [routerLink]="['/condition-seller-list']">
    <p>รายละเอียดเงื่อนไข</p>
  </div>
  <div class="col-auto pl-1 router" [routerLink]="['/condition-seller-add']">
    <p>เงื่อนไขใหม่</p>
  </div>
</div>
<!-- END TOP MENU -->

  <!-- CONTENT -->
  <div class="card-border-3 bg-white mb-2">
    <!--  -->
    <p class="mt-2 mb-0">เงื่อนไขฉบับที่ 3</p>
    <p class="mb-0 productDataText" style="cursor: pointer;"><u>รายละเอียดเอกสาร</u></p>
    <p class="mb-0 productDataText">• หมายเหตุ : เพิ่มเติมข้อที่ 20.1.2</p>
    <p class="mb-0 productDataText">• วันที่ : 20/05/2020</p>
    <!--  -->
    <p class="mt-4 mb-0">เงื่อนไขข้อที่ 1</p>
    <p class="mb-0 productDataText">• รายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียด</p>
    <!--  -->
    <p class="mt-2 mb-0">เงื่อนไขข้อที่ 2</p>
    <p class="mb-0 productDataText">• รายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียด</p>
    <!--  -->
    <p class="mt-2 mb-0">เงื่อนไขข้อที่ 3</p>
    <p class="mb-0 productDataText">• รายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียดรายละเอียด</p>
    <!--  -->
    <p class="mt-2 mb-0">เงื่อนไขข้อที่ 4</p>
    <p class="mb-0 productDataText">• รายละเอียดรายละเอียดรายละเอียด</p>
  </div>
<!-- </div> -->