.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
  padding: 15px;
}

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

.row-top-menu {
  margin-left: -4px;
  margin-right: -4px;
}

.col-top-menu {
  padding-left: 4px;
  padding-right: 4px;
}

.dropdown-item:active{
  background-color: #D9534F;
}

.col-sm_ {
  padding-left: 15px;
  padding-right: 15px;
}

.text-sm_ {
  margin-top: 15px;
  margin-right: 8px;
  margin-bottom: 15px;
  margin-left: 8px;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 15px;
    padding: 8px;
  }

  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 0px;
  }

  .text-input {
    font-size: 0.8rem;
  }

  .text-placeholder {
    font-size: 0.7rem;
  }

  .col-sm_ {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .text-sm_ {
    font-size: .8rem;
    margin: 8px;
  }
}