<!-- <div class="pl-2 pr-2"> -->
  <!-- CONTENT -->
  <div class="card-border-3 bg-white mb-2">
    <div class="row row-sm_">
      <div class="col-12 col-md col-lg col-sm_">
        <p class="mt-2 mb-0">รูปโปรไฟล์</p>
        <img class="rounded-circle mt-1" style="width: 150px; height: 150px;" src="./assets/img/store-icon.png">
      </div>
      <div class="col-auto col-md-auto col-lg-auto col-sm_">
        <button type="button" class="btn text-placeholder text-center btn-ban" data-toggle="modal"
          data-target="#ModalPopupBan" data-backdrop="static" data-keyboard="false">ระงับการใช้งานบัญชีนี้</button>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">ชื่อผู้ใช้งาน</p>
    <p class="mb-0 productDataText">• canmononui</p>
    <!--  -->
    <p class="mt-2 mb-0">สถานะบัญชี</p>
    <p class="mb-0 productDataText">• ออนไลน์</p>
    <!--  -->
    <p class="mt-2 mb-0">Email</p>
    <div class="row">
      <div class="col-auto pr-0">
        <p class="mb-0 productDataText">• suthad@gmail.com</p>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
          data-target="#ModalPopupCopyMail">คัดลอก</button>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">รหัสผู้ใช้งาน</p>
    <div class="row">
      <div class="col-auto pr-0">
        <p class="mb-0 productDataText">• UID097834572</p>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
          data-target="#ModalPopupCopyKeyUID">คัดลอก</button>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">ชื่อจริง-นามสกุล</p>
    <p class="mb-0 productDataText">• นายสุทัศน์ สุขจิต</p>
    <!--  -->
    <div class="row">
      <div class="col-auto">
        <p class="mb-0">เพศ</p>
        <p class="mb-0 productDataText">• ชาย</p>
      </div>
      <div class="col-auto">
        <p class="mb-0">อายุ</p>
        <p class="mb-0 productDataText">• 26 ปี</p>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">หมายเลขโทรศัพท์</p>
    <p class="mb-0 productDataText">• 0649355415</p>
    <!--  -->
    <p class="mt-2 mb-0">วันที่สมัคร</p>
    <p class="mb-0 productDataText">• 17/04/2020</p>
  </div>

  <div class="card-border-3 bg-white mb-2">
    <!--  -->
    <p class="mt-2 mb-0">ที่อยู่ 1</p>
    <p class="mb-0 productDataText">• 167 ซอย25 กองรักษาการณ์ ตำบลปากน้ำ อำเภอเมือง จังหวัดสมุทรปราการ 10270</p>
    <!--  -->
    <p class="mt-2 mb-0">ที่อยู่ 2</p>
    <p class="mb-0 productDataText">• 167 ซอย25 กองรักษาการณ์ ตำบลปากน้ำ อำเภอเมือง จังหวัดสมุทรปราการ 10270</p>
    <!--  -->
    <p class="mt-2 mb-0">ที่อยู่ 3</p>
    <p class="mb-0 productDataText">• 167 ซอย25 กองรักษาการณ์ ตำบลปากน้ำ อำเภอเมือง จังหวัดสมุทรปราการ 10270</p>
  </div>

  <div class="card-border-3 bg-white mb-2">
    <!--  -->
    <p class="mt-2 mb-0">บัตร 1</p>
    <p class="mb-0 productDataText">• **** **** **** 7612</p>
    <p class="mb-0 productDataText">• KBANK (เดบิต)</p>
    <!--  -->
    <p class="mt-2 mb-0">บัตร 2</p>
    <p class="mb-0 productDataText">• **** **** **** 7612</p>
    <p class="mb-0 productDataText">• KBANK (เดบิต)</p>
    <!--  -->
    <p class="mt-2 mb-0">บัตร 3</p>
    <p class="mb-0 productDataText">• **** **** **** 7612</p>
    <p class="mb-0 productDataText">• KBANK (เดบิต)</p>
  </div>
<!-- </div> -->

<!-- MODAL POPUP BAN -->
<div class="modal fade" id="ModalPopupBan" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <div class="input-style">
        <p class="mb-0 text-input">โปรดเพิ่มเหตุผลการระงับบัญชีผู้ซื้อ</p>
        <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
          style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_
          placeholder="เหตุผลการระงับบัญชีผู้ซื้อ"></textarea>
      </div>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/buyyer-account-list']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP BAN -->

<!-- MODAL POPUP COPY MAIL -->
<div class="modal fade" id="ModalPopupCopyMail" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกอีเมลเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP COPY MAIL -->

<!-- MODAL POPUP COPY SHOP KEY -->
<div class="modal fade" id="ModalPopupCopyKeyUID" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกรหัสผู้ใช้งานเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP COPY SHOP KEY -->