.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
  padding: 15px;
}

.card-border-3-list {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.productDataText {
  color: #8E8D8D;
}

.btn-copy {
  border: none; 
  border-radius: 1.5rem; 
  color: #D9534F; 
  border: 1px solid #D9534F; 
  background-color: #FFF;
}

.btn-gobal {
  border: none; 
  border-radius: 1.5rem; 
  color: #FFF; 
  border: 1px solid #373E48; 
  background-color: #373E48;
}

.btn-s {
  border: none; 
  border-radius: 1.5rem; 
  color: #FFF; 
  border: 1px solid #28a745; 
  background-color: #28a745;
}

.btn-ban {
  border: none; 
  border-radius: 1.5rem; 
  color: #FFF; 
  border: 1px solid #D9534F; 
  background-color: #D9534F;
}

.img {
  width: 50%;
}

.btn-l-black {
  width: 100%; 
  border: none; 
  border-radius: 1.5rem; 
  color: #FFF; 
  border: 1px solid #373E48; 
  background-color: #373E48;
}

.btn-r-color {
  width: 100%; 
  border: none; 
  border-radius: 1.5rem; 
  color: #FFF; 
  /* border: 1px solid #D9534F; 
  background-color: #FE5721; */
  border: 1px solid #5CB85C;
  background-color: #5CB85C;
}

.pl-top-menu-sm {
  padding-left: 4px;
}

.bank-card {
  color: #FFF;
  background-color: #373E48;
  padding: 24px 24px 24px 24px; 
  border-radius: 10px;
}

.btn-delete {
  border: none; 
  border-radius: 1.5rem; 
  color: #FFF; 
  border: 1px solid #FFF; 
  background-color: #373E48;
}

.input-style {
  padding: 16px 16px 16px 24px; 
  border-radius: 10px; 
  background-color: #F2F6FA;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {

  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 15px;
    padding: 8px;
  }

  .card-border-3-list {
    border: 1.5px solid #E7EDF4; 
    border-radius: 15px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  .img {
    width: 70%;
  }

  .row-sm_ {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col-sm_ {
    padding-left: 8px;
    padding-right: 8px;
  }

  .pl-top-menu-sm {
    padding-left: 16px;
  }

  .bank-card {
    padding: 16px 16px 16px 24px; 
    border-radius: 10px;
  }

  .input-style {
    padding: 10px 10px 10px 15px; 
    border-radius: 0px;
  }

  .text-input {
    font-size: 0.8rem;
  }

  .text-placeholder {
    font-size: 0.7rem;
  }

}