<div class="row">
  <div class="col pr-0">
    <input type="text" class="form-control" style="border-radius: 50px;" placeholder="ค้นหาจากรหัสผู้ใช้งาน/ชื่อผู้ใช้งาน">
  </div>
  <div class="col-auto">
    <button type="button" class="btn text-placeholder text-center btn-copy">ค้นหา</button>
  </div>
</div>

<div class="row">
  <!-- LIST 1 -->
  <div class="col-12 mt-3 router" [routerLink]="['/chat-seller-message']">
    <div class="card-border-3 bg-white">
      <div class="row">
        <div class="col">
          <div class="row row-sm_">
            <div class="col-auto col-sm_ align-self-center">
              <img class="rounded-circle" style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
            </div>
            <div class="col pl-0 col-sm_ align-self-center">
              <p class="mb-0 text-dark">ShopHappy</p>
              <p class="mb-0 text-dark">รหัสร้านค้า : S48JkfPga78</p>
              <p class="mb-0 text-dark">ข้อความล่าสุด · 15 มี.ค. 12:31</p>
            </div>
          </div>  
        </div>  
        <div class="col-auto align-self-center">
        <span class="badge badge-pill" style="padding-top: 5px; padding-bottom: 5px; color: #FFF; background-color: #E54040; border: 1px solid #EEE;">
          8
        </span>
        </div> 
      </div>
    </div>
  </div>
  <!-- LIST 2 -->
  <div class="col-12 mt-3 router" [routerLink]="['/chat-seller-message']">
    <div class="card-border-3 bg-white">
      <div class="row">
        <div class="col">
          <div class="row row-sm_">
            <div class="col-auto col-sm_ align-self-center">
              <img class="rounded-circle" style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
            </div>
            <div class="col pl-0 col-sm_ align-self-center">
              <p class="mb-0 text-dark">ShopHappy</p>
              <p class="mb-0 text-dark">รหัสร้านค้า : S48JkfPga78</p>
              <p class="mb-0 text-dark">ข้อความล่าสุด · 15 มี.ค. 12:31</p>
            </div>
          </div>  
        </div>  
        <div class="col-auto align-self-center">
        <span class="badge badge-pill" style="padding-top: 5px; padding-bottom: 5px; color: #FFF; background-color: #E54040; border: 1px solid #EEE;">
          8
        </span>
        </div> 
      </div>
    </div>
  </div>
</div>
