.card-border-3 {
  border: 3px solid #E7EDF4; 
  border-radius: 15px;
  padding: 15px;
}

.pl-top-menu-sm {
  padding-left: 4px;
}

.btn-copy {
  border: none; 
  border-radius: 1.5rem; 
  color: #D9534F; 
  border: 1px solid #D9534F; 
  background-color: #FFF;
}

.dot-notiChat {
  height: 10px;
  width: 10px;
  background-color: #E54040;
  border-radius: 50%;
  display: inline-block;
}

.readed-msg-color {
  color: #9f9f9f;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .text-placeholder {
    font-size: 0.7rem;
  }

  .card-border-3 {
    border: 1.5px solid #E7EDF4;
    border-radius: 15px;
    padding: 8px;
  }

  .pl-top-menu-sm {
    padding-left: 16px;
  }

  .row-sm_ {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col-sm_ {
    padding-left: 8px;
    padding-right: 8px;
  }
}