<!-- <div *ngIf="showContent"> -->
  <div class="h-vh">
    <div class="container h-100 d-flex justify-content-center">
      <div class="my-auto" style="width: 100%;">
        <div class="m-0 card_">
          <div class="container">
              <!-- STATUS LOGIN -->
              <h2 class="mb-0">กรุณารอการอนุมัติเข้าสู่ระบบ</h2>
              <p class="mb-0">ชื่อผู้ใช้งาน : PattanapanK</p>
              <p class="mb-0">ชื่อ : Pattanapan</p>
              <p class="mb-0">นามสกุล : Khunthai</p>
              <p class="mb-0">ตำแหน่งงาน : แอดมิน</p>
              <p class="mb-0">วันที่ : 17/04/2020 14:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->