<!-- <div *ngIf="showContent"> -->
  <div class="h-vh">
    <div class="container h-100 d-flex justify-content-center">
      <div class="my-auto" style="width: 100%;">
        <div class="m-0 card_">
          <div *ngIf="showContent" class="container">
              <!-- STATUS LOGIN -->
              <h2 class="mb-0">กรุณารอการอนุมัติเข้าสู่ระบบ</h2>
              <p class="mb-0">ชื่อผู้ใช้งาน : {{ userAdmin.displayName }}</p>
              <p class="mb-0">ชื่อ :  {{ userAdmin.name }}</p>
              <p class="mb-0">นามสกุล :  {{ userAdmin.lastName }}</p>
              <p class="mb-0">ตำแหน่งงาน : {{ userAdmin.jobTitle }}</p>
              <p class="mb-0">วันที่ : {{ userAdmin.createAt.seconds*1000 | date: 'd/M/yyyy' }} {{ userAdmin.createAt.seconds*1000 | date: "HH:mm:ss" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->