<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" [routerLink]="['/seller-account-approve-list']">
    <p>อนุมัติร้านค้า</p>
  </div>
  <div class="col-auto pl-1 router disabled" [routerLink]="['/seller-bank-approve-list']">
    <p>อนุมัติบัญชีร้านค้า</p>
  </div>
  <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/seller-search-list']">
    <p>ข้อมูลร้านค้า</p>
  </div>
  <div class="col-auto pl-top-menu-sm router" [routerLink]="['/seller-report-list']">
    <p>แจ้งปัญหา</p>
  </div>
  <div class="col-auto pl-1 router disabled" [routerLink]="['/seller-abidmore-gobal']">
    <p>aBidMore Gobal</p>
  </div>
</div>
<!-- END TOP MENU -->

<!-- CONTENT -->
<!-- <div class="container"> -->
  <div class="row">
    <div class="col pr-0">
      <input type="text" class="form-control" style="border-radius: 50px;" 
      #searchInput 
      (keyup)="searchUserSellerInput($event)"
      (keyup.enter)="searchUserSeller(searchInput.value)"
      placeholder="ค้นหาจากรหัสผู้ใช้งาน/Emailผู้ใช้งาน">
    </div>
    <div class="col-auto">
      <button type="button" class="btn text-placeholder text-center btn-copy"
      (click)="searchUserSeller(searchInput.value)">ค้นหา</button>
    </div>
  </div>
  
  <div *ngIf="userSellerList.length == 0 && !noMatchData" class="text-center" style="padding-top: 48px; padding-bottom: 48px;">
    <p style="font-size: .8rem;">เพิ่มรหัสผู้ใช้งาน/Emailผู้ใช้งานในช่องค้นหา</p>
  </div>
  <div *ngIf="noMatchData" class="text-center" style="padding-top: 48px; padding-bottom: 48px;">
    <p style="font-size: .8rem; color: #F26E24;">ไม่พบรหัสผู้ใช้งาน/Emailผู้ใช้งานที่ตรงกัน</p>
  </div>

  <div *ngIf="showContent" class="row">
    <!-- USER SELLER SEARCH LIST -->
    <div class="col-12 mt-3" *ngFor="let data of userSellerList" (click)="userSellerDetail(data.key)" style="cursor: pointer;">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img class="rounded-circle" style="width: 70px; height: 70px;" src="{{ data.value.profileImg.imgUrl }}">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">ชื่อร้านค้า : {{ data.value.shopName }}</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : {{ data.key }}</p>
            <p class="mb-0 text-dark">สถานะ : {{ data.value.shopStatus }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
