<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" [routerLink]="['/return-product-list']">
    <p>แจ้งคืนสินค้า</p>
  </div>
  <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/return-product-sendback-wrong-list']">
    <p>ร้านค้าแจ้งการส่งของกลับผิดพลาด</p>
  </div>
  <div class="col-auto pl-top-menu-sm router" [routerLink]="['/return-product-respond-more-seven-days-list']">
    <p>ร้านค้าไม่ตอบรับเกิน 7 วัน</p>
  </div>
</div>
<!-- END TOP MENU -->

<!-- CONTENT -->
<!-- <div class="container"> -->
  <div class="row">
    <!-- LIST 1 -->
    <div class="col-12 mt-3 router" [routerLink]="['/return-product-sendback-wrong-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ pr-0 align-self-center">
            <img style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">HappyShop</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : D679F8G4B800NK</p>
            <p class="mb-0 text-dark">รหัสสินค้า : #AB850328298</p>
            <p class="mb-0 text-dark">วันที่ : 17/04/2020</p>
          </div>
        </div>
      </div>
    </div>
    <!-- LIST 2 -->
    <div class="col-12 mt-3 router" [routerLink]="['/return-product-sendback-wrong-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ pr-0 align-self-center">
            <img style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">HappyShop</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : D679F8G4B800NK</p>
            <p class="mb-0 text-dark">รหัสสินค้า : #AB850328298</p>
            <p class="mb-0 text-dark">วันที่ : 17/04/2020</p>
          </div>
        </div>
      </div>
    </div>
    <!-- LIST 3 -->
    <div class="col-12 mt-3 router" [routerLink]="['/return-product-sendback-wrong-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ pr-0 align-self-center">
            <img style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">HappyShop</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : D679F8G4B800NK</p>
            <p class="mb-0 text-dark">รหัสสินค้า : #AB850328298</p>
            <p class="mb-0 text-dark">วันที่ : 17/04/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
