<!-- <div class="pl-2 pr-2"> -->
  <!-- TOP MENU -->
  <div class="row">
    <div class="col-auto router" [routerLink]="['/admin-profile-setting']">
      <p>ตั้งค่าบัญชี</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/admin-create-account-admin']">
      <p>สร้างบัญชีแอดมิน</p>
    </div>
    <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/admin-account-admin-list']">
      <p>บัญชีแอดมิน</p>
    </div>
    <div class="col-auto pl-top-menu-sm router" [routerLink]="['/admin-approve-account-access']">
      <p>อนุมัติการเข้าใช้ระบบ</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/admin-forgot-password']">
      <p>ลืมรหัสผ่าน</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/admin-money-setting']">
      <p>ค่าเงิน</p>
    </div>
  </div>
  <!-- END TOP MENU -->

  <!-- CONTENT -->
  <div class="card-border-3 bg-white mb-2">
    <div class="row row-sm_">
      <div class="col-12 col-md col-lg col-sm_">
        <p class="mb-0 text-dark">• ชื่อผู้ใช้งาน : PattanapanK</p>
        <p class="mb-0 text-dark">• รหัสผ่าน : B456E64O6PD67BF55O</p>
        <p class="mb-0 text-dark">• ชื่อ : Pattanapan</p>
        <p class="mb-0 text-dark">• นามสกุล : Khunthai</p>
        <p class="mb-0 text-dark">• ตำแหน่งงาน : แอดมิน</p>
        <div class="row">
          <div class="col-auto pr-0">
            <p class="mb-0 text-dark">• งานที่มอบหมาย : ร้านค้า, บัญชีผู้ซื้อ, ข้อความผู้ซื้อ, ข้อความร้านค้า</p>
          </div>
          <div class="col-auto">
            <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
              data-target="#ModalPopupEditWork">แก้ไข</button>
          </div>
        </div>
        <p class="mb-0 text-dark">• สร้างวันที่ : 17/04/2020 14:00</p>
      </div>
      <div class="col-6 col-md-auto col-lg-auto col-sm_ pr-0">
        <button type="button" class="btn text-placeholder text-center btn-ban w-100" data-toggle="modal"
          data-target="#ModalPopupBan" data-backdrop="static" data-keyboard="false">ระงับบัญชี</button>
      </div>
      <div class="col-6 col-md-auto col-lg-auto col-sm_">
        <button type="button" class="btn text-placeholder text-center btn-delete w-100" data-toggle="modal"
          data-target="#ModalPopupDelete" data-backdrop="static" data-keyboard="false">ลบบัญชี</button>
      </div>
    </div>
    <!--  -->
    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">รหัสเครื่อง</th>
          <th scope="col" class="text-right">รายการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ID2F546G90KIP988ER</td>
          <td class="text-right"><u>ลบ</u></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>ID2F546G90KIP988ER</td>
          <td class="text-right"><u>ลบ</u></td>
        </tr>
      </tbody>
    </table>
    <!--  -->
    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ประเภท</th>
          <th scope="col">รหัสเครื่อง</th>
          <th scope="col">วันที่</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: #DEF0D7;">
          <th scope="row">5</th>
          <td>เข้าสู่ระบบ</td>
          <td>ID2F546G90KIP988ER</td>
          <td>10/05/2020 12:00</td>
        </tr>
        <tr style="background-color: #F2DEDF;">
          <th scope="row">4</th>
          <td>ออกจากระบบ</td>
          <td>ID2F546G90KIP988ER</td>
          <td>10/05/2020 12:00</td>
        </tr>
        <tr style="background-color: #DEF0D7;">
          <th scope="row">3</th>
          <td>เข้าสู่ระบบ</td>
          <td>ID2F546G90KIP988ER</td>
          <td>10/05/2020 12:00</td>
        </tr>
        <tr style="background-color: #F2DEDF;">
          <th scope="row">2</th>
          <td>ออกจากระบบ</td>
          <td>ID2F546G90KIP988ER</td>
          <td>10/05/2020 12:00</td>
        </tr>
        <tr style="background-color: #DEF0D7;">
          <th scope="row">1</th>
          <td>เข้าสู่ระบบ</td>
          <td>ID2F546G90KIP988ER</td>
          <td>10/05/2020 12:00</td>
        </tr>
      </tbody>
    </table>

  </div>
<!-- </div> -->

<!-- MODAL POPUP EDIT WORK -->
<div class="modal fade" id="ModalPopupEditWork" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">ต้องการแก้ไขงานที่มอบหมาย ?</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/admin-create-account-admin']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP EDIT WORK -->

<!-- MODAL POPUP BAN -->
<div class="modal fade" id="ModalPopupBan" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">ต้องการระงับบัญชี ?</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/admin-account-admin-list']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP BAN -->

<!-- MODAL POPUP DELETE -->
<div class="modal fade" id="ModalPopupDelete" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">ต้องการลบบัญชี ?</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            [routerLink]="['/admin-account-admin-list']">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP DELETE -->

<!-- MODAL POPUP COPY MAIL -->
<div class="modal fade" id="ModalPopupCopyMail" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกอีเมลเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP COPY MAIL -->

<!-- MODAL POPUP COPY SHOP KEY -->
<div class="modal fade" id="ModalPopupCopyShopKey" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกรหัสร้านค้าเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP COPY SHOP KEY -->