<!-- <div class="pl-2 pr-2"> -->
<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" [routerLink]="['/seller-account-approve-list']">
    <p>อนุมัติร้านค้า</p>
  </div>
  <div class="col-auto pl-1 router disabled" [routerLink]="['/seller-bank-approve-list']">
    <p>อนุมัติบัญชีร้านค้า</p>
  </div>
  <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/seller-search-list']">
    <p>ข้อมูลร้านค้า</p>
  </div>
  <div class="col-auto pl-top-menu-sm router" [routerLink]="['/seller-report-list']">
    <p>แจ้งปัญหา</p>
  </div>
  <div class="col-auto pl-1 router disabled" [routerLink]="['/seller-abidmore-gobal']">
    <p>aBidMore Gobal</p>
  </div>
</div>
<!-- END TOP MENU -->

<div *ngIf="showContent">
  <!-- CONTENT -->
  <div class="card-border-3 bg-white mb-2">
    <div *ngIf="userSeller.shopStatus == 'banByAdmin'" class="mb-4">
      <p class="text-danger mt-2 mb-0">ระงับบัญชีโดย</p>
      <p class="mb-0 productDataText">• {{ userSeller.accountBan.banByAdminUID }}</p>
      <!--  -->
      <p class="text-danger mt-2 mb-0">เหตุผลระงับบัญชี</p>
      <p class="mb-0 productDataText">• {{ userSeller.accountBan.reason }}</p>
      <!--  -->
      <p class="text-danger mt-2 mb-0">วันที่ระงับบัญชี</p>
      <p class="mb-0 productDataText">• {{ userSeller.accountBan.banAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
    </div>
    <div class="row row-sm_">
      <div class="col-12 col-md col-lg col-sm_">
        <p class="mb-0">สถานะร้านค้า</p>
        <p class="mb-0 productDataText">• {{ userSeller.shopStatus }}</p>
      </div>
      <!-- A BID MORE GOBAL -->
      <div class="col-auto col-md-auto col-lg-auto col-sm_">
        <button type="button" class="btn text-placeholder text-center btn-gobal disabled" data-toggle="modal"
          data-target="#ModalPopupGobal" data-backdrop="static" data-keyboard="false">เชิญชวนสมัคร aBidMore
          Gobal</button>
      </div>
      <!-- BAN USER SELLER -->
      <div class="col-auto col-md-auto col-lg-auto col-sm_ pl-0">
        <button *ngIf="userSeller.shopStatus != 'banByAdmin'"  type="button" class="btn text-placeholder text-center btn-ban" data-toggle="modal"
          data-target="#ModalPopupBan" data-backdrop="static" data-keyboard="false">ระงับบัญชีร้านค้า</button>
      <!-- UN BAN USER SELLER -->
      <button *ngIf="userSeller.shopStatus == 'banByAdmin'" type="button" class="btn text-placeholder text-center btn-s"
        (click)="unBanUserSeller()">ยกเลิกระงับบัญชีร้านค้า</button>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">วันที่สมัคร</p>
    <p class="mb-0 productDataText">• {{ userSeller.createAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
    <!--  -->
    <div *ngIf="userSeller.accountApproveAt != undefined">
      <p class="mt-2 mb-0">วันที่อนุมัติ</p>
      <p class="mb-0 productDataText">• {{ userSeller.accountApproveAt.seconds*1000 | date: 'd/M/yyyy' }}</p>
    </div>
    <div *ngIf="userSeller.accountApproveAt == undefined">
      <p class="mt-2 mb-0">วันที่อนุมัติ</p>
      <p class="mb-0 productDataText">• ยังไม่ได้อนุมัติร้านค้า</p>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">Email</p>
    <div class="row">
      <div class="col-auto pr-0 align-self-center">
        <p class="mb-0 productDataText">• {{ userSeller.email }}</p>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
          data-target="#ModalPopupCopyMail" (click)="copyMail()">คัดลอก</button>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">รหัสร้านค้า</p>
    <div class="row">
      <div class="col-auto pr-0 align-self-center">
        <p class="mb-0 productDataText">•  {{ userSeller.uid }}</p>
      </div>
      <div class="col-auto">
        <button type="button" class="btn text-placeholder text-center btn-copy" data-toggle="modal"
          data-target="#ModalPopupCopyShopKey" (click)="copyUID()">คัดลอก</button>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">ชื่อร้านค้า</p>
    <p class="mb-0 productDataText">•  {{ userSeller.shopName }}</p>
    <!--  -->
    <p class="mt-2 mb-0">สินค้าที่ลงขาย (ประเภท,ชื่อ)</p>
    <p class="mb-0 productDataText">• {{ userSeller.shopDescription }}</p>
    <!--  -->
    <p class="mt-2 mb-0">ชื่อจริง-นามสกุล</p>
    <p class="mb-0 productDataText">• {{ userSeller.name }} {{ userSeller.lastName }}</p>
    <!--  -->
    <p class="mt-2 mb-0">หมายเลขโทรศัพท์</p>
    <p class="mb-0 productDataText">• {{ userSeller.phoneNumber }}</p>
    <!--  -->
    <p class="mt-2 mb-0">บัญชีร้าน</p>
    <!-- BANK CARD -->
    <div class="row mt-2">
      <div class="col-10 col-md-6 col-lg-4">
        <div class="bank-card">
          <!-- <div class="text-right mb-2">
            <button type="button" class="btn text-center btn-delete pl-3 pr-3" data-toggle="modal"
              data-target="#ModalPopupDeleteBank">หน้าสมุดบัญชี</button>
          </div> -->
          <p class="mb-0">เลขที่บัญชี : {{ userSeller.bookbank.bankNumber }}</p>
          <p class="mb-0">ธนาคาร : {{ userSeller.bookbank.bankNameTH }}</p>
          <p class="mb-0">เลขที่สาขา : {{ userSeller.bookbank.bankBranch }}</p>
          <p class="mb-0">ชื่อบัญชี : {{ userSeller.bookbank.accountName }}</p>
          <!-- <p class="mb-0">ประเภทบัญชี : บุคคลธรรมดา</p> -->
        </div>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">ที่อยู่</p>
    <!-- <p class="mb-0 productDataText">• 167 ซอย25 กองรักษาการณ์ ตำบลปากน้ำ อำเภอเมือง จังหวัดสมุทรปราการ 10270</p> -->
    <p class="mb-0 productDataText">ชื่อ-นามสกุล : {{ userSeller.shopAddress.name }} {{ userSeller.shopAddress.lastName }}</p>
      <p class="mb-0 productDataText">บ้านเลขที่ : {{ userSeller.shopAddress.number }}</p> 
      <p class="mb-0 productDataText">หมู่ที่ : {{ userSeller.shopAddress.moo }}</p> 
      <p class="mb-0 productDataText">หมู่บ้าน / อาคาร / ชั้น : {{ userSeller.shopAddress.village }}</p> 
      <p class="mb-0 productDataText">ตรอก / ซอย : {{ userSeller.shopAddress.lane }}</p> 
      <p class="mb-0 productDataText">ถนน : {{ userSeller.shopAddress.road }}</p>
      <p class="mb-0 productDataText">ตำบล : {{ userSeller.shopAddress.subDistrict }}</p> 
      <p class="mb-0 productDataText">อำเภอ : {{ userSeller.shopAddress.district }}</p> 
      <p class="mb-0 productDataText">จังหวัด : {{ userSeller.shopAddress.province }}</p> 
      <p class="mb-0 productDataText">รหัสไปรษณีย์ : {{ userSeller.shopAddress.postalCode }}</p> 
      <p class="mb-0 productDataText">หมายเลขโทรศัพท์ : {{ userSeller.shopAddress.phone }}</p> 
    <!-- ID CARD INDIVIDUAL -->
    <p *ngIf="userSeller.shopType == 'Individual' && fileItems.idCard != null" class="mt-2 mb-0">เอกสารบัตรประชาชน</p>
    <img class="img mt-0" src="{{ fileItems.idCard }}">
    <!-- ID CARD CORPORATION -->
    <div *ngIf="userSeller.shopType == 'Corporation' && fileItems.idCard != null">
      <p class="mt-2 mb-0">เอกสารบัตรประชาชน</p>
      <div class="row row-img-m">
        <div class="col-6 col-md-6 col-lg-3 col-img-p mt-2" *ngFor="let data of fileItems.idCard">
          <img src="{{ data.idCardCorporation_urlFile }}" class="img-fluid mt-1" style="border-radius: 10px;">
        </div>
      </div>
    </div>
    <!-- HOUSE REGIS + DBD FIVE -->
    <div *ngIf="userSeller.shopType == 'Individual'" class="mt-2">
      <p class="mb-0">ทะเบียนบ้าน</p>
      <img class="img-fluid mt-1 shop-file-m-w" src="{{ fileItems.houseRegis_dbdFive }}">
    </div>
    <div *ngIf="userSeller.shopType == 'Corporation'" class="mt-2">
      <p class="mb-0">หนังสือรับรองนิติบุคคล</p>
        <a class="row" style="color: #343a40; text-decoration: none;"
        href="{{ fileItems.houseRegis_dbdFive }}"
        target="_blank">
        <div class="col-auto pr-0">
          <button type="button" class="btn btn-warning btn-circle btn-lg text-white">
            <i class="fa fa-file"></i>
          </button>
        </div>
        <div class="col align-self-center">
          <p class="mb-0">หนังสือรับรองนิติบุคคล</p>
        </div>
      </a>
    </div>
    <!-- BOOK BANK -->
    <div *ngIf="fileItems.bookBank != null" class="mt-2">
      <p class="mb-2">หน้าสมุดบัญชี</p>
      <img class="img-fluid mt-1 shop-file-m-w" src="{{ fileItems.bookBank }}">
    </div>
    <!-- VAT REGIS -->
    <div *ngIf="fileItems.vatRegis != null" class="mt-2">
      <p class="mb-2">ทะเบียนภาษีมูลค่าเพิ่ม</p>
      <img class="img-fluid mt-1 shop-file-m-w" src="{{ fileItems.vatRegis }}">
    </div>


    <!--  -->
    <p class="mt-2 mb-0">หมายเหตุ</p>
    <p class="mb-0 productDataText">• หากข้อมูลไม่ถูกต้องหรือข้อมูลร้านค้าไม่ครบถ้วน โปรดติดต่อร้านค้าผ่าน Email
      ที่ให้มาเพื่อติดต่อขอข้อมูลเพิ่มเติม</p>
    <!--  -->
    <p class="mt-2 mb-0">รูปโปรไฟล์</p>
    <img class="rounded-circle mt-1" style="width: 150px; height: 150px;" src="{{ userSeller.profileImg.imgUrl }}">
    <!--  -->
    <p class="mt-2 mb-0">รูปปกร้าน</p>
    <img class="img-fluid mt-1 img mt-4" style="border-radius: 10px;" src="{{ userSeller.coverImg.imgUrl }}">
  </div>
</div>

<!-- MODAL POPUP GOBAL -->
<div class="modal fade" id="ModalPopupGobal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">ต้องการเชิญชวนร้านค้าเข้าร่วม aBidMore Gobal ?</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP GOBAL -->

<!-- MODAL POPUP BAN -->
<div class="modal fade" id="ModalPopupBan" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <div class="input-style">
        <p class="mb-0 text-input">โปรดเพิ่มเหตุผลการระงับร้านค้า</p>
        <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
          style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_
          placeholder="เหตุผลการระงับร้านค้า"
          (keyup)="banUserSellerInput($event)"></textarea>
      </div>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary router" [class.disabled]="!banUserSellerCheck"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;" data-dismiss="modal"
            (click)="banUserSeller(reasonInput_.value)">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP BAN -->

<!-- MODAL POPUP COPY MAIL -->
<div class="modal fade" id="ModalPopupCopyMail" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกอีเมลเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP COPY MAIL -->

<!-- MODAL POPUP COPY SHOP KEY -->
<div class="modal fade" id="ModalPopupCopyShopKey" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">คัดลอกรหัสร้านค้าเรียบร้อย</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP COPY SHOP KEY -->