<!-- <div class="container"> -->
  <div class="card card-radius">
    <div class="pt-3 pb-3 card-tab-radius">
      <p class="text-white text-center mb-0">canmononui</p>
    </div>

    <div class="card-body">
      <!-- MES LEFT -->
      <div class="card-left mb-2">
        <div class="row" style="margin-left: -4px; margin-right: -4px;">
          <div class="col-4" style="padding-left: 4px; padding-right: 4px;">
            <img src="./assets/img/bag.png" class="img-fluid" style="border-radius: 10px;">
          </div>
          <div class="col-8" style="padding-left: 4px; padding-right: 4px;">
            <p class="mb-0">Adidas NMD</p>
            <p class="mb-1">รองเท้า NMD 360 ผสม...</p>
            <p class="mb-0">#AB1863459873</p>
            <p class="mb-1">รหัสสินค้า</p>
            <p class="mb-0">สินค้ารอประมูล</p>
            <p class="mb-0">สถานะสินค้า</p>
          </div>
        </div>
      </div>
      <p class="float-left msg-left">สินค้าชิ้นนี้ต้องการคืนสามารถทำอย่างไรครับ</p>
      <p class="text-date text-left float-left mb-0">15-01-2021 12:31</p>
      <!-- MES RIGHT -->
      <div>
        <p class="mt-2 float-right msg-right">สามารถทำตามคำแนะนำจากลิ้งก์ยี้ได้เลย www.seller.abidmore.com/help-center-list</p>
        <p class="text-date text-right float-right mb-0">15-01-2021 12:31</p>
      </div>
      <!-- MES LEFT -->
      <div>
        <p class="mt-2 float-left msg-left">ขอบคุณมากครับ</p>
        <p class="text-date text-left float-left mb-0">15-01-2021 12:31</p>
      </div>
      <!-- MES RIGHT -->
      <div>
        <div class="mt-2 float-right msg-right-end">คุณลูกค้าได้รับคำตอบสำหรับข้อสงสัยเรียบร้อยแล้วใช่หรือไม่
          <div class="row mt-2" style="border-top: 2.5px solid #000;">
            <div class="col text-center">
              <p class="mb-0">เรียบร้อย</p>
            </div>
            <div style="border-right: 2.5px solid #000;"></div>
            <div class="col text-center">
              <p class="mb-0">สนทนาต่อ</p>
            </div>
          </div>
        </div>
        <p class="text-date text-right float-right mb-0">15-01-2021 12:31</p>
      </div>
    </div>
    <!-- CARD BODY -->

    <div class="card-footer">
      <div class="row">
        <div class="col">
          <!-- MSG INPUT -->
          <form class="d-flex">
            <input id="search-input" class="form-control search-input" style="box-shadow: none;" type="text"
              placeholder="ข้อความ">
          </form>
        </div>
        <div class="col-auto pl-0 align-self-center">
          <p class="mb-0" style="color: #F26262;">ส่ง</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- END CONTAINER -->