<!-- <div class="pl-2 pr-2"> -->
  <!-- TOP MENU -->
  <div class="row">
    <div class="col-auto router" [routerLink]="['/notification-add']">
      <p>สร้างแจ้งเตือน</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/notification-edit-list']">
      <p>แก้ไขแจ้งเตือน</p>
    </div>
    <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/notification-history-list']">
      <p>ประวัติแจ้งเตือน</p>
    </div>
  </div>
  <!-- END TOP MENU -->

  <!-- CONTENT -->
  <div class="card-border-3 bg-white mb-2">
    <!--  -->
    <p class="mb-0">วันที่แจ้ง Notification</p>
    <p class="mb-0 productDataText">• 01/05/2020 14:00</p>
    <!--  -->
    <p class="mt-2 mb-0">กลุ่มเป้าหมาย</p>
    <div class="row">
      <div class="col-auto">
        <p class="mb-0 productDataText">• ชาย</p>
      </div>
      <div class="col-auto">
        <p class="mb-0 productDataText">• หญิง</p>
      </div>
    </div>
    <!--  -->
    <p class="mt-2 mb-0">ช่วงอายุ</p>
    <div class="row">
      <div class="col-auto">
        <p class="mb-0 productDataText">• ต่ำกว่า 13 ปี</p>
        <p class="mb-0 productDataText">• 13-17 ปี</p>
      </div>
      <div class="col-auto">
        <p class="mb-0 productDataText">• 18-24 ปี</p>
        <p class="mb-0 productDataText">• 25-34 ปี</p>
      </div>
    </div>
  </div>
  <div class="card-border-3 bg-white mb-2">
    <!--  -->
    <p class="mb-0">หัวข้อ* (24/30)</p>
    <p class="mb-0 productDataText">• ข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความ</p>
    <!--  -->
    <p class="mt-2 mb-0">รูปภาพ</p>
    <img class="img mt-0" style="border-radius: 10px;" src="./assets/img/_app.png">
  </div>
  <div class="card-border-3 bg-white mb-2">
    <!--  -->
    <p class="mb-0">รายละเอียด</p>
    <p class="mt-2 mb-0 productDataText">ข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความ
      ข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความ
      ข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความ</p>
      <img class="w-100 mt-2 mb-2" style="border-radius: 10px;" src="./assets/img/store-img-cover.png">
    <p class="mb-0 productDataText">ข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความ
      ข้อความข้อความข้อความข้อความข้อความข้อความข้อความข้อความ</p>
  </div>
<!-- </div> -->