  <!-- TOP MENU -->
  <div class="row">
    <div class="col-auto router" [routerLink]="['/percentage-shop']">
      <p>เปอร์เซ็นต์ร้าน</p>
    </div>
    <div class="col-auto pl-1 router" [routerLink]="['/percentage-cancel-order']">
      <p>เปอร์เซ็นต์ยกเลิกสินค้า</p>
    </div>
    <div class="col-auto pl-1 router disabled" style="color: #FFA101;" [routerLink]="['/percentage-deposit-seller-support-buy-product']">
      <p>เติมเงินซื้อการสนับสนุนสินค้า</p>
    </div>
  </div>
  <!-- END TOP MENU -->

  <!--  -->
  <div class="input-style mt-2">
    <p class="mb-0 text-input">จำนวนเงินที่ต้องการเติมให้ร้านค้า</p>
    <input maxlength="100" class="form-control border-0 pl-0 text-placeholder bg-input" #perNumber_ placeholder="จำนวน (฿)">
  </div>
  <!--  -->
  <div class="input-style mt-2">
    <p class="mb-0 text-input">รหัสร้านค้า (สูงสุด 200 ร้าน คั่นด้วยเครื่องหมาย ",")</p>
    <textarea class="form-control border-0 p-0 text-placeholder" maxlength="100"
    style="box-shadow: none; background-color: #F2F6FA;" #reasonInput_
    placeholder="S45g789p1R2PP,Qp48r55i7x99l,S45g789p1R2PP,Qp48r55i7x99l,S45g789p1R2PP"></textarea>
  </div>
  <!-- BUTTON -->
  <button type="button" class="btn mt-2 text-placeholder text-center btn-r-color" data-toggle="modal" data-target="#ModalPopupSave"
    data-backdrop="static" data-keyboard="false">บันทึกการเปลี่ยนแปลง</button>
<!-- </div> -->


<!-- MODAL POPUP SAVE -->
<div class="modal fade" id="ModalPopupSave" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pt-5 pr-5 pb-5 pl-5" style="border-radius: 1rem;">
      <img class="rounded mx-auto d-block" style="width: 120px;" src="../../assets/img/loadingpage-final.png">
      <h5 class="font-weight-bold text-center mt-5">แจ้งเตือน</h5>
      <p class="text-center">ยืนยันการเปลี่ยนแปลง ?</p>
      <div class="mt-4">
        <div class="form-group col-12 col-sm-9 col-lg-7 text-center" style="margin: 0 auto;">
          <button id="Confirm-Singup-btn" type="button" class="btn btn-primary"
            style="border: none; border-radius: 1.5rem; width: 100%; background-color: #FE5721;"
            data-dismiss="modal">ตกลง</button>
        </div>
        <div class="mt-2">
          <a data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
            <p class="text-center">ยกเลิก</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL POPUP SAVE -->