<!-- TOP MENU -->
<div class="row">
  <div class="col-auto router" [routerLink]="['/seller-account-approve-list']">
    <p>อนุมัติร้านค้า</p>
  </div>
  <div class="col-auto pl-1 router" style="color: #FFA101;" [routerLink]="['/seller-bank-approve-list']">
    <p>อนุมัติบัญชีร้านค้า</p>
  </div>
  <div class="col-auto pl-1 router" [routerLink]="['/seller-search-list']">
    <p>ข้อมูลร้านค้า</p>
  </div>
  <div class="col-auto pl-top-menu-sm router" [routerLink]="['/seller-report-list']">
    <p>แจ้งปัญหา</p>
  </div>
  <div class="col-auto pl-1 router" [routerLink]="['/seller-abidmore-gobal']">
    <p>aBidMore Gobal</p>
  </div>
</div>
<!-- END TOP MENU -->

<!-- CONTENT -->
<!-- <div class="container"> -->
  <div class="row">
    <!-- LIST 1 -->
    <div class="col-12 mt-3 router" [routerLink]="['/seller-bank-approve-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">HappyShop</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : D679F8G4B800NK</p>
            <p class="mb-0 text-dark">วันที่ : 20/04/2020</p>
          </div>
        </div>
      </div>
    </div>
    <!-- LIST 2 -->
    <div class="col-12 mt-3 router" [routerLink]="['/seller-bank-approve-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">HappyShop</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : D679F8G4B800NK</p>
            <p class="mb-0 text-dark">วันที่ : 20/04/2020</p>
          </div>
        </div>
      </div>
    </div>
    <!-- LIST 3 -->
    <div class="col-12 mt-3 router" [routerLink]="['/seller-bank-approve-detail']">
      <div class="card-border-3 bg-white">
        <div class="row row-sm_">
          <div class="col-auto col-sm_ align-self-center">
            <img style="width: 70px; height: 70px;" src="./assets/img/store-icon.png">
          </div>
          <div class="col col-sm_ align-self-center">
            <p class="mb-0 text-dark">HappyShop</p>
            <p class="mb-0 text-dark">รหัสร้านค้า : D679F8G4B800NK</p>
            <p class="mb-0 text-dark">วันที่ : 20/04/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
